<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,260},{25,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,68}}</string>
                <key>sourceSize</key>
                <string>{25,68}</string>
            </dict>
            <key>fish_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{45,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,80}}</string>
                <key>sourceSize</key>
                <string>{45,80}</string>
            </dict>
            <key>fish_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>goldFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{90,68}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{90,68}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>octopus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{84,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>starFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,410},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>turtle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{96,103}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,103}}</string>
                <key>sourceSize</key>
                <string>{100,109}</string>
            </dict>
            <key>yellowFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,65}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{105,65}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{123,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0aa1e4fabe62056bbfaba070d5b9a8b:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
